
html, body, #root {
  height: 100%;
  font-size: 10px;
  overflow: auto;
  background-color: brown;
}


.tile-container {
  width: 70rem;
  margin: 5rem auto;
  height: 70rem;
  padding: 2rem;
  background-color: white;
  display: flex;
  align-items: center;
  flex-flow: row wrap;
  justify-content: space-around;
  overflow: auto;
}

.tile {
  height: 15rem;
  width: 15rem;
  background-color: brown;
  margin: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 5rem;
  text-shadow: 0.2rem 0.2rem 0.2rem black;
  box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.3);
}
